# Not hot songs
I am going to create a new dataframe out of a dataset of more than 1M Spotify songs that I've found here: https://www.kaggle.com/datasets/rodolfofigueroa/spotify-12m-songs
This dataframe will be useful to recommend similar songs that the user likes.

As you will see I am going to delete all the unnecessary cols.

In [1]:
import pandas as pd

In [2]:
not_hot = pd.read_csv('/Users/mariasoriano/Downloads/tracks_features.csv')
not_hotmil = pd.read_csv('/Users/mariasoriano/Downloads/tracks_features 2.csv')

In [3]:
not_hot.head()

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],1,1,False,0.470,...,0.0727,0.02610,0.000011,0.3560,0.503,117.906,210133,4.0,1999,1999-11-02
1,1wsRitfRRtWyEapl0q22o8,Guerrilla Radio,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],2,1,True,0.599,...,0.1880,0.01290,0.000071,0.1550,0.489,103.680,206200,4.0,1999,1999-11-02
2,1hR0fIFK2qRG3f3RF70pb7,Calm Like a Bomb,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],3,1,False,0.315,...,0.4830,0.02340,0.000002,0.1220,0.370,149.749,298893,4.0,1999,1999-11-02
3,2lbASgTSoDO7MTuLAXlTW0,Mic Check,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],4,1,True,0.440,...,0.2370,0.16300,0.000004,0.1210,0.574,96.752,213640,4.0,1999,1999-11-02
4,1MQTmpYOZ6fcMQc56Hdo7T,Sleep Now In the Fire,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],5,1,False,0.426,...,0.0701,0.00162,0.105000,0.0789,0.539,127.059,205600,4.0,1999,1999-11-02

In [4]:
nothot_df = not_hot.drop(['id', 'album_id', 'artist_ids', 'track_number', 'disc_number',
                         'explicit', 'danceability', 'energy', 'key', 'loudness', 'mode',
                         'speechiness', 'acousticness', 'instrumentalness', 'liveness',
                         'valence', 'tempo', 'duration_ms', 'time_signature', 'release_date'], axis=1)
nothot_df.head()

,name,album,artists,year
0,Testify,The Battle Of Los Angeles,['Rage Against The Machine'],1999
1,Guerrilla Radio,The Battle Of Los Angeles,['Rage Against The Machine'],1999
2,Calm Like a Bomb,The Battle Of Los Angeles,['Rage Against The Machine'],1999
3,Mic Check,The Battle Of Los Angeles,['Rage Against The Machine'],1999
4,Sleep Now In the Fire,The Battle Of Los Angeles,['Rage Against The Machine'],1999

In [9]:
nothot_df['artists'] = nothot_df['artists'].str.strip('[]')

In [16]:
nothot_df.head()

,name,album,artists,year
0,Testify,The Battle Of Los Angeles,'Rage Against The Machine',1999
1,Guerrilla Radio,The Battle Of Los Angeles,'Rage Against The Machine',1999
2,Calm Like a Bomb,The Battle Of Los Angeles,'Rage Against The Machine',1999
3,Mic Check,The Battle Of Los Angeles,'Rage Against The Machine',1999
4,Sleep Now In the Fire,The Battle Of Los Angeles,'Rage Against The Machine',1999

In [17]:
def save_csv (data, csv_name):
    data.to_csv("csv_name.csv", index=False)
    return data